# fly.toml app configuration file generated for kotlin-htmx on 2025-04-13T21:48:09+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kotlin-htmx'
primary_region = 'arn'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  NUMBER_OF_BOXES = 100000
  ENABLE_HTMX = true
  LOOKUP_API_KEY = 'somekey'
  JAVA_OPTS = '-Xmx512m'